html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: antiquewhite;
}

h1, h2, p, ul, ol {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

.content {
  padding-top: 50px;
}

.main-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

.menu {
  list-style-type: none;
  padding: 0;
  width: min(500px, 100%);
  margin: 0 auto;
}

.menu-item + .menu-item {
  margin-top: 10px;
}

.menu-link {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  color: darkolivegreen;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid black;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.menu-link:hover {
  transform: scale(1.03);
  opacity: 1;
  box-shadow: 5px 5px 10px #00000050;
}

.recipe-img-wrapper {
  overflow: hidden;
  height: 300px;
  border: 5px solid #a89452;
  margin-bottom: 30px;
}

.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.recipe-img:hover {
  transform: scale(1.2);
}

.page-section {
 margin-bottom: 30px;
}

.section-title {
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: #a89452;
}

.home-link-wrapper {
  font-size: 18px;
  margin-bottom: 50px;
}

.home-link {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #a89452;
  color: antiquewhite;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.home-link:hover {
  opacity: 1;
}

.footer {
  background-color: darkolivegreen;
  padding: 20px 0;
  text-align: right;
  color: antiquewhite;
}

.footer-text a {
  font-style: italic;
  color: antiquewhite
}